#ignore all 
*.*

# manual add
!makeAll.m
!/scripts/*.m
!/mat/*.mat
!/scripts/private/*
!.gitignore

############################################
following does nothing 

#!/license.txt
#!/addToPath.m
#!/icons/sbo*
#!/@SlidebookObj/*.m*
#!ROIcolor.m
#!addExportFigToolbar.m
#!handle_light.m
#!daqread.m
#getSubclasses.m
#makeAxoObj.m
#uipickfiles*
#mseb.m
#nia_sbo_*
#offsetAxes.m
#offsetAxesXTickONLY.m
#shadedErrorBar.m
#/additionalfuncs/sbo_*

# From https://github.com/github/gitignore/blob/master/Global/MATLAB.gitignore:
# Windows default autosave extension
*.asv
*.ini

# OSX / *nix default autosave extension
*.m~

# Compiled MEX binaries (all platforms)
*.mex*

# Packaged app and toolbox files
*.mlappinstall
*.mltbx

# Generated helpsearch folders
helpsearch*/

# Simulink code generation folders
slprj/
sccprj/

# Matlab code generation folders
codegen/

# Simulink autosave extension
*.autosave

# Simulink cache files
*.slxc

# Octave session info
octave-workspace
